@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

footer {
    margin-top: 13.75rem;
    bottom: 0 !important;
}

#hbl {
    margin-top: 10px;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
}

.blogCards {
    display: flex;
    /* position: relative; */
    flex-direction: row;
    margin-top: 70px;
    /* margin-left: 10vw; */
    justify-content: center;
    align-items: center;
}

.blog-Logo {
    margin-top: 100px;
    width: 100px;
}

.card {
    width: 25vw;
    height: 50vh;
    margin: 0 0 60px 60px;
    font-size: 30px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.content {
    padding: 1.1rem;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
}

.title {
    color: #111827;
    font-size: 24px;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 18px;
    line-height: 1.25rem;
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
}

.action span {
    transition: .3s ease;
}

.action:hover span {
    transform: translateX(4px);
}
.inherit{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
@media only screen and (max-width:768px) {
    .cd-asset{
        margin: 70px 70px;
        height: 500px !important;
    }
      .blogCards {
        display: inline-flex;
        position: relative;
        margin-top: 100px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 10vw;
    } 

    .card{
        display: inline-block;
         height: 40vh;
         width: 60vw;
         
        
    } 

    
    div.image {
        border-radius: inherit;
    }
    #getintouch{
        position: relative;
        left: -5vw;
        top: -5vh;
    }
}
