main{
    position: relative;
    top: 10vh;
} 

.accordion_obj{
    position: relative;
    width: 80vw;
    left: 10vw;
    overflow: hidden;
    
}
#h1-a{
    margin-left: 100px;
} 
.accordion-button b{
    position: relative;
    left: 4vw;
}  
footer{
    position: relative;
    top: 5vh;
} 
 .krishi-head{
    position: relative;
    margin-left: 20vw;
} 
 #daas_head{
    position: relative;
    left: 5vw;
}

@media screen and (min-width:992px){
    .container1 {
        margin-left: 120px;
        margin-top: 40px;
        display: flex;
    }
    .custom-css-container{
        width: calc(100%/2);
        height: calc(100%/2);
    }
    .img-drone {
        width: 700px;
        height: 400px;
        min-width: 700px;
        min-height: 400px;
        border: solid 4px transparent !important;
        border-radius: 22px !important;
    }
    .krishi-heading{
        font-size:30px;
    }
    .krishi-head{
        position: relative;
        
        width: 100% !important;
        white-space: nowrap;
    }

    #daas_head{
        position: relative;
        left: 5vw;
    }
    .para-1{
        white-space: nowrap;
        margin-left: 100px;
        font-size: 17px;
    }
    .para-2{
        width: 601px;
        min-width: 600px;
        margin-left: 100px;
    }

}


 
@media only screen and (max-width:768px) {
    .img-drone {
        max-width: 500px;
        max-height: 285px;
    }
    .carousel-btn{
        margin-bottom: 220px;
    }
    div.carousel-inner{
        height: auto;
        margin-top: 22px !important;
    }
} 
.krishi-heading{
    animation-name:italicunderline;
    animation-duration:3s;
    animation-iteration-count:infinite;
}

@keyframes italicunderline {
    from{
        font-style: italic;
        text-decoration: underline;
    }
    to{
        font-style: normal;
    }
}


@media only screen and (max-width:768px){
    .img-drone{
        border:2px white;
        border-radius:22px;
    } 


}